.header {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  .logo {
    height: 35px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .center {
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .centralMenu {
      padding: 0 10px;
    }
  }
}
